APP_PORT=8080

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=parking_db
POSTGRES_PORT=5432

DATABASE_URL=postgres://user:password@postgres:5432/parking_db?sslmode=disable
REDIS_ADDR=redis:6379